<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/Model2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# if sapcy is not there
# !pip install spacy

In [2]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 13.2 MB/s
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from en-core-web-sm==3.2.0) (3.2.3)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.21.5)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.9)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.23.0)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (57.4.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.11.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.9.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.13)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.63.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.1)
Installing collected packages: en-core-web-sm
  Attempting uninstall: en-core-web-sm
    Found existing installation: en-core-web-sm 2.2.5
    Uninstalling en-core-web-sm-2.2.5:
      Successfully uninstalled en-core-web-sm-2.2.5
Successfully installed en-core-web-sm-3.2.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [13]:
import spacy
import pandas as pd

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
Data = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Added_Target/FullyMerged.csv')

In [6]:
Data.head()

,Unnamed: 0,id,skills,edu_1,edu_2,edu_3,org_1,org_2,org_3,org_4,Target
0,0,gayanchinthaka,Java Android Development PHP HTML C Cascading ...,Computer Science and Technology Uva Wellassa U...,Diploma in English ESOFT Metro Campus,Diploma in Technology ESOFT Metro Campus,Software Engineer Typefi Systems,Associate Software Engineer Rezgateway,Internship Trainee Rezgateway,,Software Engineer
1,1,kashita-niranjan-udayanga-04106a47,...,BSc Engineering(Hons) University of Moratuwa,,,Software Engineer Atrenta,Undergraduate University of Moratuwa,Trainee Engineer Lanka Bell,,Software Engineer
2,2,lingeswaran-sivapiriyan-b90685177,JavaScript Reactjs MySQL ObjectOriented Progra...,B.Eng (Hons) Software Engineering London Metr...,,,Software Engineer Invicta Innovations,Trainee Samuel Gnanam IT Centre,,,Software Engineer
3,3,viraj-chamara-5b6751149,Java JavaScript PHP HTML Cascading Style Sheet...,Institute of Java and Software Engineering,,,Software Engineer I O N Groups Pvt Ltd,Software Engineer ites software pvt ltd,,,Software Engineer
4,4,iyani-kalupahana-5b781951,Java Android Development C Communication HTML ...,Honours Degree of Bachelor of the Science of E...,"High School Devi Balika Vidyalaya,Colombo 08",,Software Engineer Creative Software,Student University of Moratuwa,Researcher National University of Singapore,Intern University of Moratuwa,Software Engineer

In [7]:
Data = Data.drop(['Unnamed: 0'], axis=1)

In [8]:
Data.head()

,id,skills,edu_1,edu_2,edu_3,org_1,org_2,org_3,org_4,Target
0,gayanchinthaka,Java Android Development PHP HTML C Cascading ...,Computer Science and Technology Uva Wellassa U...,Diploma in English ESOFT Metro Campus,Diploma in Technology ESOFT Metro Campus,Software Engineer Typefi Systems,Associate Software Engineer Rezgateway,Internship Trainee Rezgateway,,Software Engineer
1,kashita-niranjan-udayanga-04106a47,...,BSc Engineering(Hons) University of Moratuwa,,,Software Engineer Atrenta,Undergraduate University of Moratuwa,Trainee Engineer Lanka Bell,,Software Engineer
2,lingeswaran-sivapiriyan-b90685177,JavaScript Reactjs MySQL ObjectOriented Progra...,B.Eng (Hons) Software Engineering London Metr...,,,Software Engineer Invicta Innovations,Trainee Samuel Gnanam IT Centre,,,Software Engineer
3,viraj-chamara-5b6751149,Java JavaScript PHP HTML Cascading Style Sheet...,Institute of Java and Software Engineering,,,Software Engineer I O N Groups Pvt Ltd,Software Engineer ites software pvt ltd,,,Software Engineer
4,iyani-kalupahana-5b781951,Java Android Development C Communication HTML ...,Honours Degree of Bachelor of the Science of E...,"High School Devi Balika Vidyalaya,Colombo 08",,Software Engineer Creative Software,Student University of Moratuwa,Researcher National University of Singapore,Intern University of Moratuwa,Software Engineer

In [14]:
# !pip install dframcy
# dframcy = DframCy(nlp)
# Data_doc = dframcy.nlp(Data)

In [16]:
Data['ALL'] = Data[['skills','edu_1','edu_2','edu_3','org_1','org_2','org_3','org_4']].agg(' '.join, axis=1)

In [17]:
Data_all = Data.iloc[:,9:]
Data_all

                 Target                                                ALL
0     Software Engineer  Java Android Development PHP HTML C Cascading ...
1     Software Engineer                                                ...
2     Software Engineer  JavaScript Reactjs MySQL ObjectOriented Progra...
3     Software Engineer  Java JavaScript PHP HTML Cascading Style Sheet...
4     Software Engineer  Java Android Development C Communication HTML ...
...                 ...                                                ...
4571       Data Science  SQL Git Machine Learning C Deep Learning Pytho...
4572       Data Science  Python Programming Language Bootstrap Machine ...
4573       Data Science  Java C JavaScript PHP MySQL Cascading Style Sh...
4574       Data Science  Python Programming Language HTML Machine Learn...
4575       Data Science  SQL Data Analysis Microsoft Excel Deep Learnin...

[4576 rows x 2 columns]

In [18]:
Data_all['tokenized_ALL'] = Data_all['ALL'].apply(lambda x: nlp(x))
Data_all

,Target,ALL,tokenized_ALL
0,Software Engineer,Java Android Development PHP HTML C Cascading ...,"(Java, Android, Development, PHP, HTML, C, Cas..."
1,Software Engineer,...,( ...
2,Software Engineer,JavaScript Reactjs MySQL ObjectOriented Progra...,"(JavaScript, Reactjs, MySQL, ObjectOriented, P..."
3,Software Engineer,Java JavaScript PHP HTML Cascading Style Sheet...,"(Java, JavaScript, PHP, HTML, Cascading, Style..."
4,Software Engineer,Java Android Development C Communication HTML ...,"(Java, Android, Development, C, Communication,..."
...,...,...,...
4571,Data Science,SQL Git Machine Learning C Deep Learning Pytho...,"(SQL, Git, Machine, Learning, C, Deep, Learnin..."
4572,Data Science,Python Programming Language Bootstrap Machine ...,"(Python, Programming, Language, Bootstrap, Mac..."
4573,Data Science,Java C JavaScript PHP MySQL Cascading Style Sh...,"(Java, C, JavaScript, PHP, MySQL, Cascading, S..."
4574,Data Science,Python Programming Language HTML Machine Learn...,"(Python, Programming, Language, HTML, Machine,..."
4575,Data Science,SQL Data Analysis Microsoft Excel Deep Learnin...,"(SQL, Data, Analysis, Microsoft, Excel, Deep, ..."

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(Data_all['Target'])
# Data_tokenized.drop("Target", axis=1, inplace=True)
Data_all["Target_NO"] = label
Data_all

,Target,ALL,tokenized_ALL,Target_NO
0,Software Engineer,Java Android Development PHP HTML C Cascading ...,"(Java, Android, Development, PHP, HTML, C, Cas...",9
1,Software Engineer,...,( ...,9
2,Software Engineer,JavaScript Reactjs MySQL ObjectOriented Progra...,"(JavaScript, Reactjs, MySQL, ObjectOriented, P...",9
3,Software Engineer,Java JavaScript PHP HTML Cascading Style Sheet...,"(Java, JavaScript, PHP, HTML, Cascading, Style...",9
4,Software Engineer,Java Android Development C Communication HTML ...,"(Java, Android, Development, C, Communication,...",9
...,...,...,...,...
4571,Data Science,SQL Git Machine Learning C Deep Learning Pytho...,"(SQL, Git, Machine, Learning, C, Deep, Learnin...",3
4572,Data Science,Python Programming Language Bootstrap Machine ...,"(Python, Programming, Language, Bootstrap, Mac...",3
4573,Data Science,Java C JavaScript PHP MySQL Cascading Style Sh...,"(Java, C, JavaScript, PHP, MySQL, Cascading, S...",3
4574,Data Science,Python Programming Language HTML Machine Learn...,"(Python, Programming, Language, HTML, Machine,...",3
4575,Data Science,SQL Data Analysis Microsoft Excel Deep Learnin...,"(SQL, Data, Analysis, Microsoft, Excel, Deep, ...",3

In [20]:
token_data = Data_all.iloc[:,2:]
token_data

                                          tokenized_ALL  Target_NO
0     (Java, Android, Development, PHP, HTML, C, Cas...          9
1     (                                             ...          9
2     (JavaScript, Reactjs, MySQL, ObjectOriented, P...          9
3     (Java, JavaScript, PHP, HTML, Cascading, Style...          9
4     (Java, Android, Development, C, Communication,...          9
...                                                 ...        ...
4571  (SQL, Git, Machine, Learning, C, Deep, Learnin...          3
4572  (Python, Programming, Language, Bootstrap, Mac...          3
4573  (Java, C, JavaScript, PHP, MySQL, Cascading, S...          3
4574  (Python, Programming, Language, HTML, Machine,...          3
4575  (SQL, Data, Analysis, Microsoft, Excel, Deep, ...          3

[4576 rows x 2 columns]

In [45]:
Data_all['sent_ALL'] = Data_all['tokenized_ALL'].apply(lambda x: list(x.sents))
Data_all['sent_te_ALL'] = Data_all['sent_ALL'].apply(lambda x: [i.text for i in x])
Data_all['sent_te_ALL'] = Data_all['sent_ALL'].apply(lambda x: ' '.join(map(str,x)))
Data_all

,Target,ALL,tokenized_ALL,Target_NO,sent_ALL,sent_te_ALL
0,Software Engineer,Java Android Development PHP HTML C Cascading ...,"(Java, Android, Development, PHP, HTML, C, Cas...",9,"[(Java, Android, Development, PHP, HTML, C, Ca...",Java Android Development PHP HTML C Cascading ...
1,Software Engineer,...,( ...,9,[( ...,...
2,Software Engineer,JavaScript Reactjs MySQL ObjectOriented Progra...,"(JavaScript, Reactjs, MySQL, ObjectOriented, P...",9,"[(JavaScript, Reactjs, MySQL, ObjectOriented, ...",JavaScript Reactjs MySQL ObjectOriented Progra...
3,Software Engineer,Java JavaScript PHP HTML Cascading Style Sheet...,"(Java, JavaScript, PHP, HTML, Cascading, Style...",9,"[(Java, JavaScript, PHP, HTML, Cascading, Styl...",Java JavaScript PHP HTML Cascading Style Sheet...
4,Software Engineer,Java Android Development C Communication HTML ...,"(Java, Android, Development, C, Communication,...",9,"[(Java, Android, Development, C, Communication...",Java Android Development C Communication HTML ...
...,...,...,...,...,...,...
4571,Data Science,SQL Git Machine Learning C Deep Learning Pytho...,"(SQL, Git, Machine, Learning, C, Deep, Learnin...",3,"[(SQL, Git, Machine, Learning, C), (Deep, Lear...",SQL Git Machine Learning C Deep Learning Pytho...
4572,Data Science,Python Programming Language Bootstrap Machine ...,"(Python, Programming, Language, Bootstrap, Mac...",3,"[(Python, Programming, Language, Bootstrap, Ma...",Python Programming Language Bootstrap Machine ...
4573,Data Science,Java C JavaScript PHP MySQL Cascading Style Sh...,"(Java, C, JavaScript, PHP, MySQL, Cascading, S...",3,"[(Java, C, JavaScript, PHP, MySQL, Cascading, ...",Java C JavaScript PHP MySQL Cascading Style Sh...
4574,Data Science,Python Programming Language HTML Machine Learn...,"(Python, Programming, Language, HTML, Machine,...",3,"[(Python, Programming, Language, HTML, Machine...",Python Programming Language HTML Machine Learn...
4575,Data Science,SQL Data Analysis Microsoft Excel Deep Learnin...,"(SQL, Data, Analysis, Microsoft, Excel, Deep, ...",3,"[(SQL, Data, Analysis, Microsoft, Excel), (Dee...",SQL Data Analysis Microsoft Excel Deep Learnin...

In [63]:
train, test = train_test_split(Data_all, test_size = 0.1, random_state = 17)
X_train = train['tokenized_ALL'].values
y_train = train['Target_NO']
 
X_test = test['tokenized_ALL'].values
y_test = test['Target_NO']

In [50]:
from keras.models import Sequential
from keras.layers import Conv1D, GlobalMaxPooling1D, Embedding, LSTM
from keras.layers.core import Dense, Dropout, Activation, SpatialDropout1D
from keras import metrics, regularizers

In [56]:
EMBEDDING_DIM = 200

In [57]:
model = Sequential()

model.add(Embedding(4118,EMBEDDING_DIM,input_length=X_train.shape[0]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(250, dropout=0.2, return_sequences=True))


# model.add(Conv1D(nof_filters, kernel_size, padding='valid', activation='relu', strides = 1))
# model.add(GlobalMaxPooling1D())

model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
# model.add(Dropout(0.1))

# model.add(LSTM(32))
# model.add(Dropout(0.2))

model.add(Dense(1,activation='softmax'))

model.summary()
model.compile(loss='categorical_crossentropy', optimizer='adam', #'sgd', 'adam', 'RMSprop', 'Adagrad'
                   metrics = [metrics.categorical_accuracy])

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 4118, 200)         823600

 spatial_dropout1d_1 (Spatia  (None, 4118, 200)        0
 lDropout1D)

 lstm_11 (LSTM)              (None, 4118, 250)         451000

 lstm_12 (LSTM)              (None, 100)               140400

 dense_4 (Dense)             (None, 1)                 101

=================================================================
Total params: 1,415,101
Trainable params: 1,415,101
Non-trainable params: 0
_________________________________________________________________

In [48]:
batch_size = 32
nb_epoch = 5

In [64]:
history = model.fit(X_train, y_train,
                    batch_size = batch_size,
                    epochs = nb_epoch,
                    verbose = True,
                    validation_split = 0.2)

ValueError: ignored