<a href="https://colab.research.google.com/github/farookfazni/AI-to-Predict-Career-Path/blob/master/ResearchCleanData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
Data = pd.read_csv('/content/drive/MyDrive/Research Dataset/processed_data/Fully_Extracted_Data/Dev_processed1.csv')

In [ ]:
Data.head()

   Unnamed: 0  ... organization_start_4
0           0  ...                  NaN
1           1  ...              2016.09
2           2  ...                  NaN
3           3  ...              2017.10
4           4  ...                  NaN

[5 rows x 85 columns]

In [ ]:
def check_Missing(dataset, precent):
  #Checking columns with missing data
  Miss_Percent=100*(dataset.isnull().sum()/len(dataset))

  #Sorting the data columns by their percentage in descending order (big to small)
  # by using Miss_Percent>0 it takes values,ore than 0
  # round(1) this is used to round the value to one decimal point .0
  Miss_Percent=Miss_Percent[Miss_Percent>precent].sort_values(ascending=False).round(1)

  #Creating a dataframe to show percentage of missing data and its respective data column in table
  DataFrame=pd.DataFrame(Miss_Percent)
  miss_percent_table=DataFrame.rename(columns={0:'% of Missing Values'})
  MissPercent=miss_percent_table

  #Displaying Missing Value table
  return MissPercent

In [ ]:
check_Missing(Data,50)

                         % of Missing Values
50                                      99.8
55                                      99.8
54                                      99.8
53                                      99.8
52                                      99.8
51                                      99.8
49                                      94.3
education_description_3                 93.7
48                                      92.8
47                                      91.2
46                                      89.5
education_description_2                 87.2
45                                      87.0
44                                      85.5
43                                      83.8
education_description_1                 82.9
education_degree_3                      82.7
42                                      82.5
41                                      81.1
40                                      79.4
39                                      78.7
38                                      77.3
37                                      75.0
36                                      73.3
education_end_3                         72.4
35                                      72.4
education_start_3                       71.8
34                                      70.3
33                                      69.1
32                                      65.7
education_3                             65.5
31                                      64.6
30                                      62.5
29                                      60.6
28                                      59.4
27                                      56.0
education_degree_2                      55.6
26                                      54.3
25                                      51.6

In [ ]:
Data.shape

(525, 85)

In [ ]:
import numpy as np

In [ ]:
def clean_data(Data,i='51'):
  #  To Remove nan values and replace blank 
  Data_New = Data.replace(np. nan,'',regex=True)
  Data_New['skills'] = Data_New.loc[:,'0':i].agg(' '.join, axis=1)
  Data_New.drop(Data_New.loc[:,'0':i],axis=1,inplace=True)
  Data_New['edu_1'] = Data_New[['education_degree_1','education_1']].agg(' '.join, axis=1)
  Data_New['edu_2'] = Data_New[['education_degree_2','education_2']].agg(' '.join, axis=1)
  Data_New['edu_3'] = Data_New[['education_degree_3','education_3']].agg(' '.join, axis=1)
  Data_New['org_1'] = Data_New[['organization_title_1','organization_1']].agg(' '.join, axis=1)
  Data_New['org_2'] = Data_New[['organization_title_2','organization_2']].agg(' '.join, axis=1)
  Data_New['org_3'] = Data_New[['organization_title_3','organization_3']].agg(' '.join, axis=1)
  Data_New['org_4'] = Data_New[['organization_title_4','organization_4']].agg(' '.join, axis=1)
  Data_New.drop(Data_New.loc[:,'education_1':'organization_start_4'],axis=1,inplace=True)

  return Data_New

In [ ]:
Data_set = clean_data(Data,'55')

In [ ]:
Data_set.head()

   Unnamed: 0  ...                                              org_4
0           0  ...
1           1  ...  Trainee System & Network Administrator Univers...
2           2  ...
3           3  ...                    Network Support Engineer Exetel
4           4  ...

[5 rows x 10 columns]

In [ ]:
Data_set.to_csv(r'/content/drive/MyDrive/Research Dataset/processed_data/DEV_processed1.csv')

In [ ]:
|#  To Remove nan values and replace blank 
# Data_New = Data.replace(np. nan,'',regex=True)

In [ ]:
# Data_New['skills'] = Data_New.loc[:,'0':'51'].agg(' '.join, axis=1)

In [ ]:
# Data_New['skills']

In [ ]:
# Data_New.drop(Data_New.loc[:,'0':'51'],axis=1,inplace=True)

In [ ]:
# Data_New['edu_1'] = Data_New[['education_degree_1','education_1']].agg(' '.join, axis=1)

In [ ]:
# Data_New['edu_2'] = Data_New[['education_degree_2','education_2']].agg(' '.join, axis=1)

In [ ]:
# Data_New['edu_3'] = Data_New[['education_degree_3','education_3']].agg(' '.join, axis=1)

In [ ]:
# Data_New['org_1'] = Data_New[['organization_title_1','organization_1']].agg(' '.join, axis=1)

In [ ]:
# Data_New['org_2'] = Data_New[['organization_title_2','organization_2']].agg(' '.join, axis=1)

In [ ]:
# Data_New['org_3'] = Data_New[['organization_title_3','organization_3']].agg(' '.join, axis=1)

In [ ]:
# Data_New['org_4'] = Data_New[['organization_title_4','organization_4']].agg(' '.join, axis=1)

In [ ]:
# Data_New.drop(Data_New.loc[:,'education_1':'organization_start_4'],axis=1,inplace=True)

In [ ]:
# Data_New.head()

In [ ]:
# check_Missing(Data_New,10)